
.topMargin{
    margin-top:15px;
}

.separateLine{
    margin-top:1px;
    margin-bottom:5px;
    border-width:3px;
    color:#ddd;
}

.plant50{
    height: 50px;
}

.plant75{
    height: 75px;
}

.plant100{
    height: 100px;
}

.plant125{
    height: 125px;
}

.plant150{
    height: 150px;
}

.plant175{
    height: 175px;
}

.plant200{
    height: 200px;
}

.plant225{
    height: 225px;
}

.plant250{
    height: 250px;
}

.plant275{
    height: 275px;
}

.plant300{
    height: 300px;
}

.plant325{
    height: 325px;
}

.plant350{
    height: 350px;
}

.plant375{
    height: 375px;
}

.plant400{
    height: 400px;
}