
@import url(lessonCommonStyle.css);

@media screen and (orientation: portrait){

    .flexibleContainer{
        height: 100%;

        display: flex;
        /*
            flex-direction: column;
            flex-wrap: nowrap;
        */
        flex-flow: column nowrap;
    }

    .flexibleButtons{
        flex: initial;
    }

    .flexibleDeviceRegion{
        flex: 1;
    }

    .deviceRegion{
        height: 45%;
        display: table;
    }

    .flexLine{
        height: 5%;
    }

    .introText{
        display: table-cell;
        vertical-align: middle;

        color: #ddd;
    }

    /* --- animation ---------------------- */

    .bottomLeft{
        width : 20vw;
        height : 20vw;

        position : absolute;
        top : 10px;

        left : 20vw;
        animation : 1s fallBottom forwards;
    }

    .bottomRight{
        width : 20vw;
        height : 20vw;

        position : absolute;
        top : 10px;

        left : 65vw;
        animation : 1s fallBottom forwards;
    }

    .topLeft{
        width : 20vw;
        height : 20vw;

        position : absolute;
        top : 10px;

        left : 20vw;
        animation : 1s fallTop forwards;
    }

    .topRight{
        width : 20vw;
        height : 20vw;

        position : absolute;
        top : 10px;

        left : 65vw;
        animation : 1s fallTop forwards;
    }

    @keyframes fallTop{
        from{
            top : 10px;
        }
        to{
            display : block;
            top : 5vh;
        }
    }

    @keyframes fallBottom{
        from{
            top : 10px;
        }
        to{
            top : 25vh;
        }
    }

    .integrated{
        display : none;

        width : 50vw;
        height : 50vw;

        position : absolute;
        top: 20px;
        left: 25vw;
    }
}
