
.box{
    position : relative;
    left : 100px;
    top : 100px;

    display : table;
    width : 100px;
    height : 100px;

    border : 2px dashed green;
    color : black;
    text-align : center;
    background : yellow;
    transition : 1s;

    /*
    transition-property : width;
    transition-duration : 1s;
    transition-delay : 2s;
    transition-timing-function : ease;

    //it will be back its original form with transition
    */
}

.box span{
    display : table-cell;
    vertical-align : middle;
}

.box.double{
    width : 200px;
    height : 200px;
    transition : 1s;

    //transition : 1s cubic-bezier(0.5, 0.7, 0.9, 0.7);
    /*
    transition : width 1s 2s ease;

    //it will be back its original form without transition
    */
}

.box.purple{
    background : purple;
    transition : 1s;
}

/*
    transition option:
    -property
    -duration
    -delay
    -timing-function
*/

/*
div#subTitle{
    height : 126px;
    line-height : 126px;
}
div#subTitle > span#subTitleContent {
    display : inline-block; //float the element
    line-height : normal; //overwrite the inherited css as the default value
    //vertical-align : middle; //not necessary, the css is used at img tag when it is put in text node or when using the table-cell display property...
    font-size : 20px;
    font-weight : bold;
}
*/

/*
    animation testing
*/
.aniBox{
    position : absolute;
    left : 100px;
    top:250px;

    width : 100px;
    height : 100px;
    background : green;

    /*
        animation-play-state -> paused running
    */
    //animation: 1s fat infinite;
    //animation-play-state : paused;
}

.aniBox:hover{
    /*
        animation-play-state -> paused running
    */
    //animation-play-state : running;
    /*
        animation-fill-mode -> none, forwards, backwards, both
    */
    //animation : 1s fat forwards;
    /*
        animation-direction -> normal, reverse, alternate, alternate-reverse
    */
    //animation : 1s fat 2 alternate-reverse;
    /*
        animation-iteration-count -> general numeric, infinite
    */
    //animation: 1s fat infinite alternate;
    /*
        other animation option:
        -name
        -iteration-count
        -direction
        -fill-mode
        -play-state

        // the available setting value is same as transition
        -duration
        -timing-function
        -delay
    */
}

@keyframes fat{
    from {
        width : 100px;
    }
    to {
        width : 200px;
    }
}

/*
    animation event

    animationstart
    animationiteration
    animaitonend

    it will be set as event.type value...
*/